In [1]:
import pandas as pd
import numpy as np

In [2]:
import numpy as np
import pandas as pd

data = {
    "Flight_ID": [f"FL{str(i).zfill(4)}" for i in range(1, 101)],
    "Airline": np.random.choice(
        ["Airline A", "Airline B", "Airline C", "Airline D"], size=100
    ),
    "Departure_Airport": np.random.choice(
        ["JFK", "LAX", "ORD", "ATL", "DFW"], size=100
    ),
    "Arrival_Airport": np.random.choice(
        ["SFO", "SEA", "MIA", "BOS", "DEN"], size=100
    ),
    "Departure_Time": pd.date_range(
        "2025-01-01 08:00:00", periods=100, freq="h"
    ),
    "Arrival_Time": pd.date_range(
        "2025-01-01 12:00:00", periods=100, freq="h"
    ),
    "Delay": np.random.randint(-30, 180, size=100),
}

df = pd.DataFrame(data)

# Display first few rows of the DataFrame
df.head()

,Flight_ID,Airline,Departure_Airport,Arrival_Airport,Departure_Time,Arrival_Time,Delay
0,FL0001,Airline C,ATL,SFO,2025-01-01 08:00:00,2025-01-01 12:00:00,115
1,FL0002,Airline B,ATL,SEA,2025-01-01 09:00:00,2025-01-01 13:00:00,157
2,FL0003,Airline B,LAX,BOS,2025-01-01 10:00:00,2025-01-01 14:00:00,39
3,FL0004,Airline C,ORD,DEN,2025-01-01 11:00:00,2025-01-01 15:00:00,168
4,FL0005,Airline D,ORD,BOS,2025-01-01 12:00:00,2025-01-01 16:00:00,87

In [3]:
df.isnull().sum()

Flight_ID            0
Airline              0
Departure_Airport    0
Arrival_Airport      0
Departure_Time       0
Arrival_Time         0
Delay                0
dtype: int64

In [4]:
df["Delay"] = df["Delay"].apply(lambda x : max(0, x))
average_delay_airline = df.groupby("Airline")["Delay"].mean()
print("Average Delay Airline: ")
print(average_delay_airline)

Average Delay Airline:
Airline
Airline A    71.125000
Airline B    93.281250
Airline C    61.086957
Airline D    74.619048
Name: Delay, dtype: float64

In [5]:
average_delay_airport = df.groupby("Departure_Airport")["Delay"].mean()
print(average_delay_airport)

Departure_Airport
ATL    68.136364
DFW    61.200000
JFK    69.769231
LAX    78.892857
ORD    96.863636
Name: Delay, dtype: float64

In [6]:
print(average_delay_airline)
least_delay_airline = average_delay_airline.idxmin()

most_delay_airline = average_delay_airline.idxmax()

print(f"\nAirline with least delay: {least_delay_airline} ({average_delay_airline[least_delay_airline]:.2f} mins)")
print(f"\nAirline with most delay: {most_delay_airline} ({average_delay_airline[most_delay_airline]:.2f} mins)")
mean_delay = np.mean(df["Delay"])
mean_delay

Airline
Airline A    71.125000
Airline B    93.281250
Airline C    61.086957
Airline D    74.619048
Name: Delay, dtype: float64

Airline with least delay: Airline C (61.09 mins)

Airline with most delay: Airline B (93.28 mins)

np.float64(76.64)

In [7]:
medin_delay = np.median(df["Delay"])

std_dev_delay = np.std(df["Delay"])

percentile_90 = np.percentile(df["Delay"], 90)

In [9]:
print(f"Mean Delay {mean_delay}")
print(f"Median Delay: {medin_delay}")
print(f"Standard Delay: {std_dev_delay}")
print(f"90th Percentile: {percentile_90}")

Mean Delay 76.64
Median Delay: 66.5
Standard Delay: 57.7351747204423
90th Percentile: 157.0